@font-face {
	font-family: kongtext;
	src: url(kongtext.ttf);
}

@font-face {
	font-family: "Press Start 2P";
	src: url(PressStart2P-Regular.ttf);
}

html,
body {
	margin: 0;
	padding: 16px;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	
	text-align: center;
}

h1 {
	font-size: 21px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 15px;
}
td, th {
	font-size: 13px;
}


.button {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.month-content {
	text-align: center;
	position: relative;
}

.budget-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.normal-text {
	color: grey;
}

.buttons-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}