html,
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	
	text-align: center;
}


.top-container {
}

.normal-text {
	color: grey;
}

.buttons-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin: 0 8px;
	gap: 8px;
	row-gap: 32px;
}

.buttons-container button {
	font-size: 125%;
}