@font-face {
	font-family: kongtext;
	src: url(kongtext.ttf);
}

@font-face {
	font-family: "Press Start 2P";
	src: url(PressStart2P-Regular.ttf);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	
	text-align: center;
}

.button {
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.month-content {
	width: 100%;
	height: 100vh;

	text-align: center;
	position: relative;
}

.budget-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.normal-text {
	color: grey;
}

.buttons-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin: 0 8px;
	gap: 8px;
	row-gap: 32px;
}

.buttons-container button {
	font-size: 125%;
}